body {
    background-color: #121212CC;
    color: #EDEDED;
}
.ra-men1 {
    background-color: #cbb000;
}
.ra-men2 {
    background-color: #9f0000;
}
.ra-men3 {
    background-color: rgb(62, 62, 62);
